
/*------------------ **{M.Atef Edit}** ------------------*/

/*------------------ Global------------------*/
body{
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: Magi;
  src: url(../Magistral/Magistral-Bold.ttf);
}

.head-title{
  color: #679A41;

}
b{
  color: #293B51;
  
}


/*------------------ End Global------------------*/

/*------------------ Start navbar ------------------*/


.navbar{
    background-color: #f8f8f8;
    box-shadow: 0px 2px 5px #a7a7a7;
    font-weight: bold;
    color: #070707 !important;
}

.navbar img{
    width: 12%;
}

.main-btn{
    background-color: #679A41;
    color: white;
    padding: 5px 10px;
    transition: all .5s;
}
.main-btn:hover{
    background-color: #54862e;
    color: white;
    /* border: 1px #ccc; */
    /* font-size: 18px; */
    box-shadow: 2px 4px 5px #ccc;
}
.main-btn a{
    text-decoration: none;
    color: white;
}
/* .nav-item .nav-link {
    color: #1b1b1b;
  } */
  

.nav-menu a{
    transition: all .5s;
    border-radius: 18px;

}

.dropdown-menu{
  background-color: #fafafa;
}

.nav-menu .dropdown-item{
  width: 250px;

}
/*------------------ End navbar ------------------*/

/*------------------ start Home section ------------------*/

.home{
    height: 80vh;
}
.home video{
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    width: 100%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.home .overlay{
    background-color:#e3e3e3d6;
    height: 100vh;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

}
.home-content{
    position: relative;
    z-index: 1;
}
.home-content h1{
    font-size: 3rem;
    font-weight: bold;
    color: #679A41;
    animation: h1 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;;
}

@keyframes h1{
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.home-content p{
    font-size: 1.5rem;
    color: rgb(36, 51, 89);
}
.home-content img{
    margin-bottom: 20px;
}
.home-content span{
    font-family: Magi;
}

/*------------------ start Home section ------------------*/


/*------------------ start products section ------------------*/

.products{
    background-image: url(../imgs/scientific-molecule-background-with-flow-waves-medicine-science-technology-chemistry-wallpaper-banner-with-dna-molecules-geometric-dynamic-linear-waves-illustration.jpg);
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.products .container{
    background-color: rgba(255, 255, 255, 0.184);
  backdrop-filter: blur(10px);
}
.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
    background-color: rgba(219, 238, 215, 0.552);
    backdrop-filter: blur(7px);

  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #29344c;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
  }
  .products .Posta img{
    width: 40%;
  }

  .products-content h2{
    color: #29344c;
    font-weight: bold;
  }

  /*------------------ end products section ------------------*/

  
  






















/*------------------ start media quiry  ------------------*/

@media screen and (min-width: 800px){
  
    .nav-menu a:hover {
        color: #679A41;
        font-weight: bold;
        background-color: #f0f0f0;
        border-radius: 18px;
        box-shadow: 2px 4px 5px #ccc;
    
    }
    .nav-item .nav-link.active {
        /* color: #679A41; */
        color: #679A41;
        font-weight: bold;
        background-color: #f0f0f0;
        border-radius: 18px;
        box-shadow: 2px 4px 5px #ccc;
      }
    
}
@media screen and (max-width: 800px){
    .navbar img{
        width: 50%;
        margin: auto;
    }
    .home-content h1{
        font-size: 1.5rem;
    }
    .home-content p{
        font-size: 1rem;
    }

   
}