

/*------------------ Global------------------*/
:root {
  --color: #b2eabc;
}
body{
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: Magi;
  src: url(../Magistral/Magistral-Bold.ttf);
}

.head-title{
  color: #679A41;

}
.sec-title{
  color: #293B51;
}

b{
  color: #293B51;
  
}


/*------------------ End Global------------------*/

/*------------------ Start navbar ------------------*/


.navbar{
    background-color: #f8f8f8;
    box-shadow: 0px 2px 5px #a7a7a7;
    font-weight: bold;
    color: #070707 !important;
}

.navbar img{
    width: 12%;
}

.main-btn{
    background-color: #679A41;
    color: white;
    padding: 5px 10px;
    transition: all .5s;
}
.main-btn:hover{
    background-color: #54862e;
    color: white;
    /* border: 1px #ccc; */
    /* font-size: 18px; */
    box-shadow: 2px 4px 5px #ccc;
}
.main-btn a{
    text-decoration: none;
    color: white;
}
/* .nav-item .nav-link {
    color: #1b1b1b;
  } */
  

.nav-menu a{
    transition: all .5s;
    border-radius: 18px;

}

.dropdown-menu{
  background-color: #fafafa;
}

.nav-menu .dropdown-item{
  width: 250px;

}

.search .container{
  position: relative;
  --size-button: 30px;
  color: white;
}
.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #29344c;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.search .container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: -2px;
  left: 13px;
  padding: 5px;
  pointer-events: none;
}

.search .container .icon svg {
  width: 100%;
  height: 100%;
}
/*------------------ End navbar ------------------*/

/*------------------ start Home section ------------------*/

.home{
  height: 80vh;
  /* background-color: #d5f2da; */
  background: linear-gradient(to right ,#d4e6c6e5 , #293b5133) , url(../imgs/main.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment:fixed;
  /* filter: blur(4px); */

}



/*------------------ end Home section ------------------*/



/*------------------ start products section ------------------*/

.products{
    background-image: url(../imgs/scientific-molecule-background-with-flow-waves-medicine-science-technology-chemistry-wallpaper-banner-with-dna-molecules-geometric-dynamic-linear-waves-illustration.jpg);
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.products .container{
    background-color: rgba(255, 255, 255, 0.184);
  backdrop-filter: blur(10px);
}
.products .card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .products .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .products .card:hover , .blogs .card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .products .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .products .card:hover .card__content {
    transform: rotateX(0deg);
    background-color: rgba(219, 238, 215, 0.552);
    backdrop-filter: blur(7px);

  }
  
  .products .card__title {
    margin: 0;
    font-size: 24px;
    color: #29344c;
    font-weight: 700;
  }
  
  .products .card:hover svg {
    scale: 0;
  }
  
  .products .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
  }
  .products .Posta img{
    width: 40%;
  }

  .sec-title h2{
    color:#29344c;
    font-weight: bold;
  }

  /*------------------ end products section ------------------*/

  /*------------------ start Solution section ------------------*/ 

  .solution{
    background-color: #F4FAFD;
  }

  .solution .nav-link{
    color: #293B51;
  }

  .solution .nav-link.active{
    background-color: #54862e;
    width: 210px;
  }

  .solution .slide-in-blurred-bottom {
    -webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }
  @-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  /*------------------ end Solution section ------------------*/ 


  /*------------------ start enterprise App section ------------------*/ 
  .app-logos{
    overflow: hidden;
    /* margin: 20px 0; */
    white-space: nowrap;
    
  }

  .logos-container{
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logos-container::before , .logos-container::after{
    position: absolute;
    content: "";
    top: 0;
    width: 150px;
    height: 100%;
    z-index: 2;
  }

  .logos-container::before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #b6ddae6e);
  }
  .logos-container::after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), #b6ddae6e);
  }


  .logos-slider{
    padding: 15px 0;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 20s slide infinite linear;
  }

  .logos-container:hover .logos-slider{
    animation-play-state: paused;
  }

  .logos-slider img{
    height: 50px;
    width: 150px;
    margin: 0 15px;
  }

  @keyframes slide {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
   
    }


  /*------------------ end enterprise App section ------------------*/ 
  
 

  /*------------------ start running business section ------------------*/


   /*------------------ end running business section ------------------*/

   /*------------------ start features section ------------------*/ 
  
    .text-color-f{
      color: #23355e !important;
    }
   .discover .heading-design {
    cursor: pointer;
    background-color: #fff;
    border-bottom: solid 1px #679A41;
    padding: 2rem;
    transition: background-color 0.5s ease;
}

.border-r{
  border-right:#23355e 1px solid;
}
.discover .heading-design:hover {
    background-color: #b6ddae6e;
    border-bottom: solid 1px #b6ddae6e;
}

.discover .heading-prog {
    cursor: pointer;
    background-color: #fff;
    border-bottom: solid 1px #212121;
    padding: 2rem;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.discover .heading-prog:hover {
    /* color: #eeeeee; */
    background-color: #b6ddae6e;
    border-bottom: solid 1px #b6ddae6e;
}

.discover .heading-music {
    cursor: pointer;
    background-color: #fff;
    border-bottom: solid 1px #212121;
    padding: 2rem;
    transition: background-color 0.5s ease;
}

.discover .heading-music:hover {
    background-color: #b6ddae6e;
    border-bottom: solid 1px #b6ddae6e;
}

.discover .heading-network {
  cursor: pointer;
  background-color: #fff;
  border-bottom: solid 1px #212121;
  padding: 2rem;
  transition: background-color 0.5s ease;
}

.discover .heading-network:hover {
  background-color:#b6ddae6e;
  border-bottom: solid 1px #b6ddae6e;
}

.discover .tab-contents {
    display: none;
}


.discover .left-content {
    padding-left: 4rem;
    padding-top: 4rem;
    font-size: 3.75rem;
}

.discover .right-content {
    padding-left: 4rem;
    padding-top: 4rem;
}

.discover .img-custwidth {
    padding-top: 1.5rem;
    /* width: 512px; */
}

/*------------------ end features section ------------------*/

/*------------------ start cta section ------------------*/
.cta{
  background: url(../imgs/CTA/cloud-computing-conceptcloud-transfer-datacloud-computing-big-data-center-future-infrastructure-digital-ai-concept-virtual-hosting-symbolicon-upload-downloadvirtual-hosting-symbol.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------ end cta section ------------------*/

/*------------------ start cloudedge section ------------------*/


.hero .content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
 
}

.layout{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../imgs/CTA/edgebg.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.hero {
  position: relative;
  background: #919191;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  
}

.article {
  position: relative;
  z-index: 2;
  background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.hero h2 {
  font-size: 4.5rem;
  margin: 0 0 10px;
  line-height: 1;
  
}

.hero p {
  font-size: 1.1rem;
  line-height: 1.4;
}

.hero iframe{
  position: relative;
  z-index:1 ;
  border-radius: 20px;
  margin:10px 0;
}
/* ========================= */

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: var(--color);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(41, 60, 81, 1);
  animation: waves 12s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(41, 60, 81, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/*------------------ end cloudedge section ------------------*/


.blogs .card{
  transition: all .5s;
}













/*------------------ start media quiry  ------------------*/

@media screen and (min-width: 800px){
  
    .nav-menu a:hover {
        color: #679A41;
        font-weight: bold;
        background-color: #f0f0f0;
        border-radius: 18px;
        box-shadow: 2px 4px 5px #ccc;
    
    }
    .nav-item .nav-link.active {
        /* color: #679A41; */
        color: #679A41;
        font-weight: bold;
        background-color: #f0f0f0;
        border-radius: 18px;
        box-shadow: 2px 4px 5px #ccc;
      }
    
}
@media screen and (max-width: 800px){
    .navbar img{
        width: 50%;
        margin: auto;
    }
    .home-content h1{
        font-size: 1.5rem;
    }
    .home-content p{
        font-size: 1rem;
    }

   
}